{% extends 'base.html'%}

{% block fd_content%}

<div id="fd_members">

<form method="POST">
  {% csrf_token %}
  <div class="member-search">
    <fieldset class="keyword">
      <h1>Search by Keyword</h1>
      <div class="fields">
        <input type="text" name="s" value="">
      </div>
      <div class="actions">
        <input type="submit" value="Go">
      </div>
    </fieldset>
    <fieldset class="filter">
      <h1>Filter by</h1>
      <div class="fields">
        <div class="field">
          <select name="filter_event__id">
            <option disabled>Event</option>
            {% for event in events %}
              <option value="{{event.id}}">{{event.event_location.display}} - {{event.event_date}}</option>
            {% endfor %}
          </select>
        </div>
        <!-- TODO: need to add city to database model -->
        <!-- 
        <div class="field">
          <select>
            <option>City</option>
          </select>
        </div>
        -->
        <div class="field">
          <select>
            <option disabled>Interest Areas</option> 
            {% for interest in interests %}
              <option value="{{interest.id}}">{{interest.name}}</option>
            {% endfor %}
          </select>
        </div>
        <div class="field">
          <select>
            <option disabled>Skill Sets</option>
            {% for skillset in skillsets %}
              <option value="{{skillset.id}}">{{skillset.name}}</option>
            {% endfor %}
          </select>
        </div>
        <!-- TODO: how do we handle a start date dropdown? -->
        <!--
        <div class="field">
          <select>
            <option>Start Date</option>
          </select>
        </div>
        -->
        <!-- TODO: what is the status? idea status? event status? -->
        <!--
        <div class="field">
          <select>
            <option>Status</option>
          </select>
        </div>
        -->
      </div>
      <div class="actions">
        <input type="submit" value="Go">
      </div>
    </fieldset>
  </div>

  <div class="member-listing">
    {% for profile in profiles %}
    <div class="member-info">
      <div class="img-wrapper">
{% if profile.portrait_url %}
        <img src="{{profile.portrait_url}}">
{% else %}
        <div class="missing-portrait"></div>
{% endif %}
      </div>
      <h1 class="name">{{ profile.name }}</h1>
      <p class="bio">bio text</p>
    </div>
    {% endfor %}
  </div>
</form>
</div>

{% endblock fd_content%}
