{% extends 'base.html'%}

{% block fd_content%}

<div id="fd_members">

<form method="POST">
  {% csrf_token %}
  <div class="member-search">
    <fieldset class="keyword">
      <h1>Search by Keyword</h1>
      <div class="fields">
        <input type="text" name="s" value="{{ s }}">
      </div>
      <div class="actions">
        <input type="submit" value="Go">
      </div>
    </fieldset>
    <fieldset class="filter">
      <h1>Filter by</h1>
      <div class="fields">
        <div class="field">
          <select name="filter.FdProfile.event__id,filter.Applicant.event__id">
            <option disabled>Event</option>
            {% for event in events %}
              <option value="{{event.id}}">{{event.event_location.display}} - {{event.event_date}}</option>
            {% endfor %}
          </select>
        </div>
        <div class="field">
          <select name="filter.FdProfile.city__icontains">
            <option>City</option>
            {% for city in cities %}
              <option value="{{city}}">{{city}}</option>
            {% endfor %}
          </select>
        </div>
        <div class="field">
          <select name="filter.FdProfile.interest_areas__id__contains">
            <option disabled>Interest Areas</option> 
            {% for interest in interests %}
              <option value="{{interest.id}}">{{interest.name}}</option>
            {% endfor %}
          </select>
        </div>
        <div class="field">
          <select name="filter.FdProfile.skillsets__id__contains">
            <option disabled>Skill Sets</option>
            {% for skillset in skillsets %}
              <option value="{{skillset.id}}">{{skillset.name}}</option>
            {% endfor %}
          </select>
        </div>
        <div class="field">
          <select name="filter.FdProfile.status">
            <option disabled>Status</option>
            {% for status_option in status_options %}
              <option value="{{status_option.value}}">{{status_option.label}}</option>
            {% endfor %}
          </select>
        </div>
        <div class="field">
          <select name="filter.FdProfile.can_start">
            <option disabled>Start Date</option>
            {% for start_date in start_dates %}
              <option value="{{start_date.value}}">{{start_date.label}}</option>
            {% endfor %}
          </select>
        </div>
      </div>
      <div class="actions">
        <input type="submit" value="Go">
      </div>
    </fieldset>
  </div>

  <div class="member-listing">
    {% if members_matched > 0 %}
      {% include "pagination.html" %}
    {% else %}
      No members matched your query
    {% endif %}

    {% for profile in profiles %}
    <div class="member-info">
    <a href="profiles/{{profile.username}}/">
      <div class="img-wrapper">
        {% if profile.portrait_url %}
          <img src="{{profile.portrait_url}}">
        {% else %}
          <div class="missing-portrait"></div>
        {% endif %}
      </div>
      <h1 class="name">{{ profile.name }}</h1>
      <p class="bio">{{profile.bio}}</p>
    </a>
    </div>
    {% endfor %}

    {% if members_matched > 0 %}
      {% include "pagination.html" %}
    {% endif %}
  </div>
</form>
</div>

{% endblock fd_content%}
