{% extends 'userena/base_userena.html' %}
{% load i18n %}

{% block title %}{% blocktrans with profile.user.username as username %}{{ username }}'s profile.{% endblocktrans %}{% endblock %}
{% block content_title %}<h2>{{ profile.user.username }} {% if profile.user.get_full_name %}({{ profile.user.get_full_name }}){% endif %}</h2>{% endblock %}

{% block fd_content %}
<div class="white-box">

  {% comment %}Dirty hack. Will use django-guardian in the future.{% endcomment %}
  {% if user.username == profile.user.username %}
  <ul id="box-nav">
    <li><a href="{% url userena_profile_detail user.username %}">{% trans "View profile" %} &raquo;</a></li>
    <li><a href="{% url userena_profile_edit user.username %}">{% trans "Edit details" %} &raquo;</a></li>
    <li><a href="{% url userena_password_change user.username %}">{% trans "Change password" %} &raquo;</a></li>
    <li><a href="{% url userena_email_change user.username %}">{% trans "Change email" %} &raquo;</a></li>
  </ul>
  {% endif %}

  <div id="details">
    <div class="header">
      <div class="col1">
        <img src="{{ profile.get_mugshot_url }}" alt="{% trans "Your mugshot" %}" />
      </div>
      <div class="col2">
        {% if profile.user.get_full_name %}
          <p class="name">{{ profile.user.get_full_name }}</p>
        {% endif %}
        {% if profile.user.email %}
          <p class="email">{{ profile.user.email }}</p>
        {% endif %}
      </div>
    </div>
    <div class="extra">
    <dl class="list1">
      <dt>Events</dt>
      {% if not events %}
        <dd>No events registered</dd>
      {% endif %}
      {% for event in events %}
        <dd class="event">{{event.event_date}}, {{event.event_location.display}}</dd>
      {% endfor %}
      <dt>Past Experience</dt>
      {% if profile.past_experience_blurb %}
        <dd>{{ profile.past_experience_blurb }}</dd>
      {% endif %}
      <dt>I Can Bring</dt>
      {% if profile.brings %}
        <dd>{{ profile.brings }}</dd>
      {% endif %}
    </dl>
    <dl class="list2">
      <dt>Primary Skillsets</dt>
      {% if profile.skillsets %}
        {% for skillset in profile.skillsets.all %}
        <dd>{{ skillset.name }}</dd>
        {% endfor %}
      {% endif %}
      <dt>Areas of Interest</dt>
      {% if profile.interest_areas %}
        {% for x in profile.interest_areas.all %}
        <dd>{{ x.name }}</dd>
        {% endfor %}
      {% endif %}
<!--
      <dt>Looking For</dt>
      {% if profile.looking_for %}
        <dd>{{ profile.looking_for }}</dd>
      {% endif %}
      <dt>I Can Start</dt>
      {% if profile.can_start %}
        <dd>{{ profile.can_start }}</dd>
      {% endif %}
-->
      <dt>Building Or Interested In</dt>
      {% if profile.current_idea %}
        <dd>{{ profile.current_idea }}</dd>
      {% endif %}
    </dl>
    <div class="clear"><!-- --></div>
    </div>
  </div>
</div>
{% endblock %}
